@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}

h1, h2, h3 {
    color: #2a1d47;
}